@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-body: "Poppins", sans-serif;
    --font-headline: "Alegreya", serif;
    --background: 40 33% 98%;
    --foreground: 20 14% 4%;
    --card: 60 56% 91%;
    --card-foreground: 20 14% 4%;
    --popover: 60 56% 91%;
    --popover-foreground: 20 14% 4%;
    --primary: 88 52% 34%;
    --primary-foreground: 88 30% 95%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 25 57% 38%;
    --accent-foreground: 25 30% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 60 5.9% 90%;
    --input: 60 5.9% 90%;
    --ring: 88 52% 34%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14% 5.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14% 5.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 88 52% 34%;
    --primary-foreground: 88 30% 95%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 25 57% 38%;
    --accent-foreground: 25 30% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 88 52% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }
}

@layer utilities {
  .font-headline {
    font-family: var(--font-headline);
  }
  .font-body {
    font-family: var(--font-body);
  }
}
